<!-- Formulario Reactivo Basico -->

<form [formGroup]="miFormulario">
  <!-- Previsualizacion de los valores del Formulario -->

  <h2>Datos en vivo del Formulario:</h2>

  <!-- Usaremos un pipe de Angular de tipo JSON para pasar el objeto a un JSON y mostrarlo -->

  <p>{{ miFormulario.value | json }}</p>

  <!-- Campos del Formulario -->

  <input matInput placeholder="Nombre" formControlName="nombre" />

  <input matInput placeholder="Apellidos" formControlName="apellidos" />

  <input matInput placeholder="Email" formControlName="email" />

  <input matInput placeholder="Telefono" formControlName="telefono" />

  <input matInput placeholder="Direccion" formControlName="direccion" />
</form>
