<form [formGroup]="miFormularioValidado" (submit)="enviarFormulario()">
  <h3>Datos en vivo del formulario:</h3>
  <p>{{ miFormularioValidado.value | json }}</p>

  <!-- Campos del formulario y mensajes de error por validacion  -->

  <!-- Nombre -->
  <input formControlName="nombre" placeholder="Nombre" />
  <div *ngIf="nombre?.errors?.['required'] && nombre?.touched">
    <p [ngStyle]="{ color: 'tomato' }">El campo Nombre es obligatorio</p>
  </div>

  <!-- Apellidos -->
  <input formControlName="apellidos" placeholder="Apellidos" />

  <!-- Edad -->
  <input type="number" formControlName="edad" placeholder="Edad" />
  <div *ngIf="edad?.errors?.['required'] && edad?.touched">
    <p [ngStyle]="{ color: 'tomato' }">El campo Edad es obligatorio</p>
  </div>

  <div *ngIf="edad?.errors?.['min'] && edad?.touched">
    <p [ngStyle]="{ color: 'tomato' }">
      El campo Edad no puede ser inferior a 18. No puedes registrarte con
      {{ edad?.errors?.['min'].actual }} años
    </p>
  </div>

  <div *ngIf="edad?.errors?.['max'] && edad?.touched">
    <p [ngStyle]="{ color: 'tomato' }">
      El campo Edad no puede ser superior a 99. No puedes registrarte con
      {{ edad?.errors?.['max'].actual }} años
    </p>
  </div>

  <!-- Email -->

  <input formControlName="email" placeholder="Email" />
  <div *ngIf="email?.errors?.['required'] && email?.touched">
    <p [ngStyle]="{ color: 'tomato' }">El campo Email es obligatorio</p>
  </div>

  <div *ngIf="email?.errors?.['email'] && email?.touched">
    <p [ngStyle]="{ color: 'tomato' }">El formato del Email no es valido</p>
  </div>

  <!-- Password -->

  <input type="password" formControlName="password" placeholder="Password" />
  <div *ngIf="password?.errors?.['required'] && password?.touched">
    <p [ngStyle]="{ color: 'tomato' }">El campo Password es obligatorio</p>
  </div>

  <div *ngIf="password?.errors?.['pattern'] && password?.touched">
    <p [ngStyle]="{ color: 'tomato' }">El formato no es valido</p>
  </div>

  <!-- Acepta/Checkbox -->

  <input type="checkbox" formControlName="acepta" /> Aceptar
  <div *ngIf="acepta?.errors?.['requiredTrue'] && acepta?.touched">
    <p [ngStyle]="{ color: 'tomato' }">Debes aceptar los terminos</p>
  </div>

  <!-- Boton Submit que se activa solo cuando el formulario es valido  -->
  <button type="submit" [disabled]="miFormularioValidado.invalid">
    Enviar
  </button>
</form>
